/* Round panel */
/*.xfce4-panel {
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
}
*/

/* WHISKER MENU */

#whiskermenu-window entry
{
    background-color: #000000;
    color: white;
    border-width: 2px;
}

#whiskermenu-window scrolledwindow.frame treeview:hover, #whiskermenu-window scrolledwindow.frame treeview:active, #whiskermenu-window scrolledwindow.frame treeview:selected
{
    background-color: @theme_selected_bg_color;
    color: white;
}

#whiskermenu-window border
{
    border-width: 0px;
    padding: 4px;
}

#whiskermenu-window
{
    border-top-right-radius: 16px;
}

/* XFCE4 PANEL */
.xfce4-panel button
{
    border: 0;
    border-radius: 0;
    min-width: 30px;
    box-shadow: none;
    text-shadow: none;
    background: transparent;
    color: #eeeeec;
}

.xfce4-panel button:hover
{
    background: rgba(0, 0, 0, 1);
}

.xfce4-panel button:not(#whiskermenu-button):checked, .xfce4-panel button:not(#whiskermenu-button):active
{
/*    background: rgba(150, 42, 195, 1);
    border-radius: 8px;*/
    box-shadow: inset 0 5px 0 @theme_selected_bg_color;
}

.xfce4-panel.vertical button:not(#whiskermenu-button):checked, .xfce4-panel.vertical button:not(#whiskermenu-button):active
{
  box-shadow: inset 2px 0 0 @theme_selected_bg_color;
}
