.xfce4-panel
{
/*
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
   	border-bottom-left-radius: 8px;
   	border-bottom-right-radius: 8px;
*/
}
.xfce4-panel
{
	background-color: rgba(0, 0, 0, 0.9);
}

#whiskermenu-window scrolledwindow.frame treeview:hover, #whiskermenu-window scrolledwindow.frame treeview:active, #whiskermenu-window scrolledwindow.frame treeview:selected
{
    background-color: @theme_selected_bg_color;
}

#whiskermenu-window border
{
	padding: 8px;
/*
    border-width: 2px;
	border-color: @theme_selected_bg_color;
*/
    border-top-right-radius: 16px;
}

#whiskermenu-window
{
    border-top-right-radius: 16px;
}

.xfce4-panel button
{
	border-radius: 8px;
	padding: 4px;
}


.xfce4-panel button:hover
{
    background: rgba(255, 255, 255, 0.05);
}


/*
.xfce4-panel button:not(#whiskermenu-button):checked, .xfce4-panel button:not(#whiskermenu-button):active
*/
.xfce4-panel button:checked, .xfce4-panel button:active
{
    background: rgba(255, 255, 255, 0);
    box-shadow: inset 0px -0px 0px 2px @theme_selected_bg_color;
	color: white;
}


