/* XFCE panel */
.xfce4-panel
{
/*
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
   	border-bottom-left-radius: 8px;
   	border-bottom-right-radius: 8px;
*/
	background-color: rgba ( 0, 0, 0, 0.8);
	background-color: @theme_bg_color;
}


#xfce4-notification-plugin image
{
	-gtk-icon-transform: scale(0.7);
}

#pulseaudio-button image
{
	-gtk-icon-transform: scale(0.8);
}

#xfce-panel-button image
{
	-gtk-icon-transform: scale(1);
}

.xfce4-panel button
{
	border-radius: 10px;
	padding: 4px;
	color: white;
	font-weight: bold;
}
.xfce4-panel button:hover
{
	background-color: rgba ( 255, 255, 255, 0.1);
}
/*
.xfce4-panel button:not(#whiskermenu-button):checked, .xfce4-panel button:not(.whiskermenu-button):active
*/
.xfce4-panel button:checked, .xfce4-panel button:selected, #sn-button:active
{
    background: @theme_selected_bg_color;
    box-shadow: inset 0px 0px 0px 0px transparent;
}
/* Whisker Menu */
#whiskermenu-window scrolledwindow.frame treeview:hover, .whiskermenu-window scrolledwindow.frame treeview:active, .whiskermenu-window scrolledwindow.frame treeview:selected
{
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border-radius: 8px;
}
#whiskermenu-window border
{
	padding: 8px;
	border-radius: 24px;
}
#whiskermenu-window
{
    border-radius: 24px;
}
