/****************/
/*	XFCE panel	*/
/****************/
.xfce4-panel
{
	background-color:			@theme_bg_color;
	background-color:			rgba (0,0,0, 0.9);
	border-radius:				0px;
}

.xfce4-panel button
{
	font-weight:				normal;
	border-radius:				0px;
	padding:					4px;
	color: 						@theme_fg_color;
	border-radius:				6px;
}

/* On Hover */
.xfce4-panel button:hover
{
	background-color:			rgba ( 255, 255, 255, 0.05 );
}

/* On select */
.xfce4-panel button:checked, .xfce4-panel button:selected, #sn-button:checked, #sn-button:selected
{
	background-color:			@theme_selected_bg_color;
	background-color:			rgba ( 255, 255, 255, 0.1 );
	box-shadow:					inset 0px 0px 0px 0px @theme_selected_bg_color;
}

/* On click */
.xfce4-panel button:active,#sn-button:active
{
	background-color:			@theme_selected_bg_color;
}

/* Change icon size */
#pulseaudio-button image
{
	-gtk-icon-transform:		scale(0.8);
}

#XfcePanelWindow image
{
	-gtk-icon-transform:		scale(1.2);
}

#xfce4-notification-plugin image
{
	-gtk-icon-transform:		scale(0.6);
}

#whiskermenu-button image
{
	-gtk-icon-transform:		scale(0.8);
}

#xfce4-power-manager-plugin image
{
	-gtk-icon-transform:		scale(0.6);
}

#clock-button image
{
	-gtk-icon-transform:		scale(0.6);
}

#indicator-button image
{
	-gtk-icon-transform:		scale(0.4);
}

#sn-button image
{
	-gtk-icon-transform:		scale(0.8);
}

#showdesktop-button image
{
	-gtk-icon-transform:		scale(0.0);
}

/********************/
/*	Whisker Menu	*/
/********************/
#whiskermenu-window scrolledwindow.frame treeview:hover, #whiskermenu-window scrolledwindow.frame treeview:active, #whiskermenu-window scrolledwindow.frame treeview:selected
{
	background-color:			@theme_selected_bg_color;
	color:						@theme_selected_fg_color;
}

#whiskermenu-window border
{
	border-width:				2px;
	border-color:				@theme_bg_color;
}

/*
*
{
	text-shadow: 				none;
	radius:				        0px;
	border-width:				0px;
	border-radius:				0px;
}
*/

/* Xfwm4's alt-tab dialog, aka "tabwin" */
#xfwm-tabwin
{
    padding: 16px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 8px;
    /* Set the application icon- and preview-size to 64px */
    -XfwmTabwinWidget-icon-size: 128px;
    -XfwmTabwinWidget-preview-size: 128px;
    border-color: #1f1f1f;
}

#xfwm-tabwin button
{
    background-image: none;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.8);
    text-shadow: none;
    border: none;
    border-radius: 6px;
    box-shadow: none;
}

#xfwm-tabwin button:active, #xfwm-tabwin button:checked, #xfwm-tabwin button:active:hover, #xfwm-tabwin button:checked:hover
{
    background: rgba(255, 255, 255, 0.2);
    background: @theme_selected_bg_color;
}

#xfwm-tabwin button:hover
{
    background: @theme_selected_bg_color;
    transition-duration: 50ms;
}

#xfwm-tabwin .tabwin-app-grid button
{
    min-width: 96px;
    min-height: 96px;
}
