/****************/
/*	XFCE panel	*/
/****************/
.xfce4-panel
{
	background-color:			rgba ( 0, 0, 0, 0.9 );
	font-weight:				normal;
	color: 						@theme_fg_color;
}

.xfce4-panel button
{
	border-radius:				8px;
    padding:                    4px;
}

/* On Hover */
.xfce4-panel button:hover
{
	background-color:			rgba ( 255, 255, 255, 0.05 );
	color: 						@theme_fg_color;
}

/* On Active */
.xfce4-panel button:checked, .xfce4-panel button:selected, #sn-button:checked, #sn-button:selected
{
	background-color:			rgba ( 255, 255, 255, 0.1 );
    box-shadow:                 none;
	color: 						@theme_fg_color;
}

/* On click */
.xfce4-panel button:active,#sn-button:active
{
	background-color:			@theme_selected_bg_color;
	color: 						@theme_fg_color;
}

/**************/
/* Icons size */
/**************/

#pulseaudio-button image
{
	-gtk-icon-transform:		scale(0.8);
}

#XfcePanelWindow image
{
	-gtk-icon-transform:		scale(1.2);
}

#xfce4-notification-plugin image
{
	-gtk-icon-transform:		scale(0.6);
}

#whiskermenu-button image
{
	-gtk-icon-transform:		scale(0.8);
}

#xfce4-power-manager-plugin image
{
	-gtk-icon-transform:		scale(0.6);
}

#clock-button image
{
	-gtk-icon-transform:		scale(0.6);
}

#indicator-button image
{
	-gtk-icon-transform:		scale(0.4);
}

#sn-button image
{
	-gtk-icon-transform:		scale(0.8);
}

#showdesktop-button image
{
	-gtk-icon-transform:		scale(0.0);
}

/********************/
/*	Whisker Menu	*/
/********************/
#whiskermenu-window scrolledwindow.frame treeview:hover, #whiskermenu-window scrolledwindow.frame treeview:active, #whiskermenu-window scrolledwindow.frame treeview:selected
{
	background-color:			@theme_selected_bg_color;
	color:						@theme_selected_fg_color;
	border-radius:				4px;
}

#whiskermenu-window
{
    padding:                    8px;
    border-radius:              8px;
}
#whiskermenu-window border
{
    border:               none;
    padding:              8px;
}

/*************/
/* ALT - TAB */
/*************/

/* Xfwm4's alt-tab dialog, aka "tabwin" */
#xfwm-tabwin
{
    padding:                        8px;
    border-radius:                  16px;
    /* Set the application icon- and preview-size to 64px */
    -XfwmTabwinWidget-icon-size:    128px;
    -XfwmTabwinWidget-preview-size: 128px;
	background-color:			    rgba ( 0, 0, 0, 0.9 );
    border-color:                   black;
    box-shadow:				        inset 0px 0px 0px 4px rgba ( 255, 255, 255, 0.1 );
}

#xfwm-tabwin button
{
    font-weight:                    bold;
    text-shadow:                    none;
    border-radius:                  8px;
    padding:                        16px;
}

#xfwm-tabwin button:active, #xfwm-tabwin button:checked, #xfwm-tabwin button:active:hover, #xfwm-tabwin button:checked:hover
{
    background:                     @theme_selected_bg_color;
    box-shadow:                     none;
    transition-duration:            500ms;
}

#xfwm-tabwin button:hover
{
    background: rgba(255, 255, 255, 0.1);
    transition-duration: 500ms;
}

#xfwm-tabwin .tabwin-app-grid button
{
    min-width: 96px;
    transition-duration: 500ms;
    min-height: 96px;
}


/**********************/
/* Workspace Switcher */
/**********************/

.xfce4-panel widget grid button.flat.toggle
{
/*
    min-width: 24px;
    border-style: none;
*/
}

.xfce4-panel widget grid button.flat.toggle:hover,
.xfce4-panel widget grid button.flat.toggle:checked
{
/*
    color: white;
*/
}

wnck-pager
{
/*
    -gtk-icon-transform:    scale(0);
    border-radius:          8px;
    box-shadow:             none;
*/
}

wnck-pager:selected
{
/*
    box-shadow:             none;
    background-color:       rgba(255,255,255,0.1);
    box-shadow:             none;
*/
}

wnck-pager:hover
{
/*
    box-shadow:             none;
    background-color:       gray;
    box-shadow:             none;
*/
}

#wnck-pager button
{
/*
    -gtk-icon-transform:    scale(0);
    border-radius:          8px;
    box-shadow:             none;
*/
}


#showdesktop-button
{
    -gtk-icon-transform:    scale(0);
}
