XTerm*loginShell: true
XTerm*scrollBar: false
XTerm*scrollKey: true
XTerm*multiClickTime: 250
XTerm*renderont: true
XTerm*savelines: 0
XTerm*selectToClipboard: true

! Display
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.lcdfilter: lcdfilter

! Hinting
Xft.hinting: true
Xft.autohint: true
Xft.hintstyle: full

! Global color
!XTerm*foreground: rgb:ff/ff/ff
XTerm*background:	black

! White/Grey
!*color7:	white
!*color15:	grey

! Dracula Xresources palette
*.foreground: #ffffff
*.background: #000000
!*.color0:     #000000
!*.color8:     #4D4D4D
!*.color1:     #FF5555
!*.color9:     #FF6E67
!*.color2:     #50FA7B
!*.color10:    #5AF78E
!*.color3:     #F1FA8C
!*.color11:    #F4F99D
!*.color4:     #BD93F9
!*.color12:    #CAA9FA
!*.color5:     #FF79C6
!*.color13:    #FF92D0
!*.color6:     #8BE9FD
!*.color14:    #9AEDFE
!*.color7:     #BFBFBF
!*.color15:    #E6E6E6

! Application Resources
XTerm.locale: true
XTerm.termName: XTerm-256color
XTerm.utmpInhibit: true

! VT100 Widget Resources
XTerm*allowTitleOps:  true
XTerm*altSendsEscape: true
XTerm*bellIsUrgent: true
XTerm*borderLess: true

! allow selecting email/url by double click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

XTerm*colorBD: wheat
XTerm*colorBDMode: true
XTerm*colorUL: green
XTerm*colorULMode: false
XTerm*cursorBlink: true
XTerm*eightBitInput: false
XTerm*fastScroll: true
XTerm*highlightSelection: true
XTerm*jumpScroll: true
XTerm*loginshell: true
XTerm*multiScroll: true
XTerm*printAttributes: 2
XTerm*printerCommand: XTerm -T History -e sh -c 'less -r -o /tmp/XTerm.dump <&3' 3<&0
!XTerm*rightScrollBar: true
!XTerm*scrollBar: false
XTerm*trimSelection: true
XTerm*veryBoldColors: 4
XTerm*xftAntialias: true
! set font and fontsize

!XTerm*faceName: MartianMono Nerd Font Mono
XTerm*faceName: JetbrainsMono Nerd Font Mono
XTerm*faceSize: 12

! VT Font Menu: Unreadable
XTerm*faceSize1: 8
! VT font menu: Tiny
XTerm*faceSize2: 10
! VT font menu: Medium
XTerm*faceSize3: 12
! VT font menu: Large
XTerm*faceSize4: 16
! VT font menu: Huge
XTerm*faceSize5: 22

! Ensure that your locale is set up for UTF-8. If you do not use UTF-8, you may need to force XTerm to more strictly follow your locale by setting
XTerm.vt100.locale: true

! Do not scroll when there is new input e.g. tail -f /var/syslog
!XTerm*scrollTtyOutput: false


XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key> C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key> V: insert-selection(CLIPBOARD) \n\
  Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY) \n\
  <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
  <Btn2Up>: insert-selection(PRIMARY) \n\
! Ctrl Shift <Key> L: clear-saved-lines()

! Tips: Left and right selection (text selection using left button for beginning and right button for end)
! Tips: Triple Click ( 1 click = nothing, 2 click = select word, 3 click = select line )
!
! XTerm*on3Clicks: regex [[:alpha:]]+://([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

!Sxiv.background: #000000
Sxiv.background: #0d0d0d
Sxiv.foreground: #ffffff
Sxiv.font: MartianMono Nerd Font Mono 12

!Xcursor.theme: WhiteSur-cursors
Xcursor.theme: Adwaita
Xcursor.size: 48px

xclock*foreground:  red
xclock*background:  #0d0d0d
xclock*highlight:	yellow
xclock*hands:		white
xclock*hourColor:   white
xclock*secondColor: red
xclock*minuteColor: white
xclock*majorColor:  red
xclock*minorColor:  grey
xclock*interval:	1
xclock*render:		1
xclock*chime:		1
xclock*twentyfour:	1
xclock*sharp:		0
xclock*analog:		1
xclock*buffer:		1
xclock*padding:		32
xclock*update:		1

xlogo*foreground:  orange
xlogo*background:  #0d0d0d

xload*foreground:  green
xload*background:  black
xload*update:      1
xload*sharp:       1

Clock*Background:	black
Clock*BorderColor:	black
Clock*hour:			white
Clock*jewel:		red
Clock*minute:		white
Clock*second:		white

